<template>

        <div id="wrapper">
        <div id="main-content">
            <div class="container">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12">
                            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Employee List</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href=""><i class="icon-home"></i></a></li>                            
                                <li class="breadcrumb-item">Employee</li>
                                <li class="breadcrumb-item active">Employee List</li>
                            </ul>
                        </div>            
                        <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                            <div class="bh_chart hidden-xs">
                                <div class="float-left m-r-15">
                                    <small>Visitors</small>
                                    <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                                </div>
                                <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                            </div>
                            <div class="bh_chart hidden-sm">
                                <div class="float-left m-r-15">
                                    <small>Visits</small>
                                    <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                                </div>
                                <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                            </div>
                            <div class="bh_chart hidden-sm">
                                <div class="float-left m-r-15">
                                    <small>Chats</small>
                                    <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                                </div>
                                <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2>Employee List</h2>
                                <ul class="header-dropdown">
                                    <li><a href="javascript:void(0);" class="btn btn-info" data-toggle="modal" data-target="#new_employee_modal">Add New</a></li>
                                </ul>
                            </div>
                            <div class="body">
                                <ul class="nav nav-tabs main2_nav_tabs">
                                    <li class="nav-item">
                                      <a class="nav-link active" data-toggle="tab" href="#main2_in1">Active</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" data-toggle="tab" href="#main2_in2">Inactive</a>
                                    </li>
                                  </ul>
                               <div class="tab-content">
                                <div class="tab-pane active" id="main2_in1">  
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>
                                                    <label class="fancy-checkbox">
                                                        <input class="select-all" type="checkbox" name="checkbox">
                                                        <span></span>
                                                    </label>
                                                </th>
                                                <th>Name</th>
                                                <th>Employee ID</th>
                                                <th>Phone</th>
                                                <th>Email</th>                                            
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="width45">
                                                <label class="fancy-checkbox">
                                                        <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                        <span></span>
                                                    </label>
                                                    <img src="/src/assets/images/xs/avatar6.jpg" class="rounded-circle avatar" alt="">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0">Darryl Day</h6>
                                                    <span>darryl.day@gmail.com</span>
                                                </td>
                                                <td><span>LA-0233</span></td>
                                                <td><span>+ 264-625-2583</span></td>
                                                <td>abc@gmail.com</td>                                         
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#profile_modal" title="Edit"><i class="fa fa-edit"></i></button>
                                                    <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="main2_in2">  
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>
                                                    <label class="fancy-checkbox">
                                                        <input class="select-all" type="checkbox" name="checkbox">
                                                        <span></span>
                                                    </label>
                                                </th>
                                                <th>Name</th>
                                                <th>Employee ID</th>
                                                <th>Phone</th>
                                                <th>Email</th>                                            
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="width45">
                                                <label class="fancy-checkbox">
                                                        <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                        <span></span>
                                                    </label>
                                                    <img src="/src/assets/images/xs/avatar6.jpg" class="rounded-circle avatar" alt="">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0">Darryl Day</h6>
                                                    <span>darryl.day@gmail.com</span>
                                                </td>
                                                <td><span>LA-0233</span></td>
                                                <td><span>+ 264-625-2583</span></td>
                                                <td>maha@gmail.com</td>
                                              
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#profile_modal" title="Edit"><i class="fa fa-edit"></i></button>
                                                    <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
      </div>  
    </div>
</template>