<template>

        <table class="table table-striped" aurelia-table="data.bind: users; display-data.bind: $displayData">
            <thead>
            <tr>
                <th aut-sort="key.bind: nameLength">Name</th>
                <th aut-sort="key: age; default: desc">Age</th>
                <th>E-mail</th>
                <th aut-sort="custom.bind: dateSort">Registered</th>
                <th aut-sort="key: isActive">Active</th>
            </tr>
            </thead>
            <tbody>
            <tr repeat.for="user of $displayData">
                <td>${user.name}</td>
                <td>${user.age}</td>
                <td><a href="mailto:${user.email}">${user.email}</a></td>
                <td>${user.registered}</td>
                <td>${user.isActive}</td>
            </tr>
            </tbody>
        </table>
    </template>