<template>
    <style>
    #profile_modal .modal-header{
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        padding: 10px 0px 5px 15px;
        
    }
        .modal-header{
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        padding: 10px 0px 5px 15px;
        
    }
    #profile_modal .modal-content{
        border-radius: 15px;
        width: 170%;
        right: 145px;
    }
        .modal-content{
        border-radius: 15px;
        width: 170%;
        right: 145px;
    }
    #profile_modal .modal-footer{
        
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
    }
    .modal-footer{
        
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
    }
    #profile_modal .modal-footer .btn{	
        border-radius: 20px;
        border: 1px solid #fff;
        padding: 8px 17px;
    }
    .modal-footer .btn{
        
        border-radius: 20px;
        border: 1px solid #fff;
        padding: 8px 17px;
    }
    #profile_modal .modal-body .card{
        border-radius: 25px;
    }
        .modal-body .card{
        border-radius: 25px;
    }
    #profile_modal .modal-body .card .card-header{
        border-radius: 25px!important;
        
    }
        .modal-body .card .card-header{
        border-radius: 25px!important;
        
    }
    
    
    
    </style>
    
    <script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
    
    
    
    <!-- Page Loader -->
    
    <!-- Overlay For Sidebars -->
    
    <div id="wrapper">
    
    
        <div id="main-content">
            <div class="container">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12">
                            <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a>Customer List</h2>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href=""><i class="icon-home"></i></a></li>                            
                                <li class="breadcrumb-item">Customer</li>
                                <li class="breadcrumb-item active">Customer List</li>
                            </ul>
                        </div>            
                        <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                            <div class="bh_chart hidden-xs">
                                <div class="float-left m-r-15">
                                    <small>Visitors</small>
                                    <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                                </div>
                                <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                            </div>
                            <div class="bh_chart hidden-sm">
                                <div class="float-left m-r-15">
                                    <small>Visits</small>
                                    <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                                </div>
                                <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                            </div>
                            <div class="bh_chart hidden-sm">
                                <div class="float-left m-r-15">
                                    <small>Chats</small>
                                    <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                                </div>
                                <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="row clearfix">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="header">
                                <h2>Customer List</h2>
                                <ul class="header-dropdown">
                                    <li><a href="javascript:void(0);" class="btn btn-info" data-toggle="modal" data-target="#new_customer_modal">Add New</a></li>
                                </ul>
                            </div>
                            <div class="body">
                                <ul class="nav nav-tabs main2_nav_tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#main2_in1">Active</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#main2_in2">Inactive</a>
                                    </li>
                                    </ul>
                                <div class="tab-content">
                                <div class="tab-pane active" id="main2_in1">  
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>
                                                    <label class="fancy-checkbox">
                                                        <input class="select-all" type="checkbox" name="checkbox">
                                                        <span></span>
                                                    </label>
                                                </th>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Phone</th>
                                                <th>Contact Person</th>                                            
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="width45">
                                                <label class="fancy-checkbox">
                                                        <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                        <span></span>
                                                    </label>
                                                    <img src="/src/assets/images/xs/avatar6.jpg" class="rounded-circle avatar" alt="">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0">Darryl Day</h6>
                                                    <span>darryl.day@gmail.com</span>
                                                </td>
                                                <td><span>LA-0233</span></td>
                                                <td><span>+ 264-625-2583</span></td>
                                                <td>abc@gmail.com</td>                                         
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#profile_modal" title="Edit"><i class="fa fa-edit"></i></button>
                                                    <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="main2_in2">  
                                <div class="table-responsive">
                                    <table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>
                                                    <label class="fancy-checkbox">
                                                        <input class="select-all" type="checkbox" name="checkbox">
                                                        <span></span>
                                                    </label>
                                                </th>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Phone</th>
                                                <th>Contact Person</th>                                               
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="width45">
                                                <label class="fancy-checkbox">
                                                        <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                        <span></span>
                                                    </label>
                                                    <img src="/src/assets/images/xs/avatar6.jpg" class="rounded-circle avatar" alt="">
                                                </td>
                                                <td>
                                                    <h6 class="mb-0">Darryl Day</h6>
                                                    <span>darryl.day@gmail.com</span>
                                                </td>
                                                <td><span>LA-0233</span></td>
                                                <td><span>+ 264-625-2583</span></td>
                                                <td>maha@gmail.com</td>
                                                
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-outline-secondary" title="Edit">Enable</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
        </div>  
    </div>
    
    <!-- Customer specifications-->
    
    <div class="modal fade" id="usr_info_modal_cus">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Name goes here...</h4>
                  <button type="button" class="close"><i class="fas fa-edit"></i></button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body txt_left">
                  <div id="accordion_usr_info1_cus">
          
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#usr_info_collapse2_1_cus">
                  Generally
                </a>
              </div>
              <div id="usr_info_collapse2_1_cus" class="collapse show" data-parent="#accordion_usr_info1_cus">
                <div class="card-body">
                  <div class="row generally_row">
                   <div class="col-lg-12">
                     <table class="table table-bordered f14">
                       <tbody>
                         <tr>
                           <td class="header_td">Organisation number</td>
                           <td>919 050 446<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Customer name</td>
                           <td>Bergen Julemarked AS<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Legal name</td>
                           <td><a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Customer number</td>
                           <td>10012<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Department</td>
                           <td>18 - Arrangemnet<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Contact</td>
                           <td>Christian Hammersland<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Phone number</td>
                           <td>0123456678<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Email address</td>
                           <td>example@email.com<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Kundeansvarlig</td>
                           <td>Simen Holmedal Tvedt<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Object managers</td>
                           <td>Steevan Raj Das Navi
                            <a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Maximum number of guests</td>
                           <td>0<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Police office</td>
                           <td>West police district<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Customer catagory</td>
                           <td>The mobile services<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Dressup wear</td>
                           <td><label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label><a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Create guard reports</td>
                           <td>
                            <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                            <a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Send SMS before duty</td>
                           <td>
                            <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                          </label>
                          <span>
                            <div class="form-group">
            <select class="form-control" id="sel1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
            </select>
          </div>
                          </span>
                            <a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Username</td>
                           <td>root<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Password</td>
                           <td><button type="button" class="btn slate_btn">Send new password</button></td>
                         </tr>
                         <tr>
                           <td class="header_td">Disable</td>
                           <td><button type="button" class="btn slate_btn">Disable employee</button></td>
                         </tr>
          
                       </tbody>
                     </table>
                   </div>
                 </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#address_cus">
                  Address
                </a>
              </div>
              <div id="address_cus" class="collapse" data-parent="#accordion_usr_info1_cus">
                <div class="card-body">
                  <table class="table table-bordered f14">
                    <tbody>
                      <tr>
                        <td class="header_td"></td>
                        <td><button type="button" class="btn slate_btn">New address</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#usr_info_collapse2_2_cus">
                  Object description
                </a>
              </div>
              <div id="usr_info_collapse2_2_cus" class="collapse" data-parent="#accordion_usr_info1_cus">
                <div class="card-body">
                  <div class="form-group">
                    <textarea class="form-control" rows="3" id="comment"></textarea>
                  </div>
                  <button type="button"  class="btn slate_btn" style="margin-left: auto; display: block;">Save</button>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#usr_info_collapse2_3_cus">
                  Priority employees
                </a>
              </div>
              <div id="usr_info_collapse2_3_cus" class="collapse" data-parent="#accordion_usr_info1_cus">
                <div class="card-body">
                  <table class="table table-bordered f14">
                    <tbody>
                      <tr>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                        <td>
                          <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" value="">Abubakar I. Mustapha
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="3" class="td_center"><button type="button" class="btn slate_btn">Save priority empployees</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#usr_info_collapse2_4_cus">
                  Equipment
                </a>
              </div>
              <div id="usr_info_collapse2_4_cus" class="collapse" data-parent="#accordion_usr_info1_cus">
                <div class="card-body">
                  <table class="table table-bordered f14">
                    <tbody>
                      <tr>
                        <td class="header_td">Equipment</td>
                        <td class="header_td">Number</td>
                        <td class="header_td">Issued</td>
                        <td class="header_td"></td>
                      </tr>
                      <tr>
                        <td>Connection</td>
                        <td>4</td>
                        <td>19/11/2019</td>
                        <td class="td_center"><button type="button" class="btn slate_btn"><i class="fas fa-reply"></i></button></td>
                      </tr>
                      <tr>
                        <td>Connection</td>
                        <td>4</td>
                        <td>19/11/2019</td>
                        <td class="td_center"><button type="button" class="btn slate_btn"><i class="fas fa-reply"></i></button></td>
                      </tr>
                      <tr>
                        <td>
                          <select class="selectpicker" title="Number" id="sel1" name="sellist1">
                               <option>BD</option>
                                <option>PAK</option>
                                <option>Saudi</option>
                                <option>UAE</option>
                              </select>
                        </td>
                        <td>
                          <select class="selectpicker" title="Number" id="sel1" name="sellist1">
                               <option>BD</option>
                                <option>PAK</option>
                                <option>Saudi</option>
                                <option>UAE</option>
                              </select>
                        </td>
                        <td>
                          <input id="datetimepicker_admin_38" class="datetimepicker" type="text" >
                        </td>
                        <td class="td_center"><button type="button" class="btn footer_save_btn"><i class="fas fa-share"></i></button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#usr_info_collapse2_5_cus">
                  Security centre
                </a>
              </div>
              <div id="usr_info_collapse2_5_cus" class="collapse" data-parent="#accordion_usr_info1_cus">
                <div class="card-body">
                  <table class="table table-bordered f14">
                    <tbody>
                      <tr>
                        <td class="header_td">Security centre</td>
                        <td>
                          <label class="switch">
                            <input type="checkbox" checked="">
                            <span class="slider round"></span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td class="header_td">Interval outline messages</td>
                        <td>
                          <div class="form-group">
                            <select class="form-control" id="sel1">
                              <option>of</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="header_td">Prior notification</td>
                        <td>
                          <label class="switch">
                            <input type="checkbox" checked="">
                            <span class="slider round"></span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <td class="header_td">Contact person 1</td>
                        <td>
                          <div class="form-group">
                            <select class="form-control" id="sel1">
                              <option>of</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td class="header_td">Contact person 2</td>
                        <td>
                          <div class="form-group">
                            <select class="form-control" id="sel1">
                              <option>of</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                            </select>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#cus_eco_col">
                  Economy
                </a>
              </div>
              <div id="cus_eco_col" class="collapse" data-parent="#accordion_usr_info1_cus">
                <div class="card-body">
                  <table class="table table-bordered f14">
                    <tbody>
                         <tr>
                           <td class="header_td">Be paid for</td>
                           <td>Weights agreement<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Wage increase</td>
                           <td>-<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Kilometer</td>
                           <td>0<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Hourly</td>
                           <td>388.00<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Fixed price</td>
                           <td>0.00<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Nighly billing surcharge(per hour)</td>
                           <td>52.00<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Weekend invoice suppliment(per hour)</td>
                           <td>92.00<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Holiday invoice suppliment(per hour)</td>
                           <td>388.00<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Invoice surcharge for janitor(per hour)</td>
                           <td>0.00<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Invoice extra for other(per hour)</td>
                           <td>0.00
                            <a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Invoice suppliment for dirty missions(per Event)</td>
                           <td>0.00<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Police office</td>
                           <td>West police district<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
                         </tr>
                         <tr>
                           <td class="header_td">Payroll at break</td>
                           <td><label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label></td>
                         </tr>
                       </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#usr_info_collapse2_6_cus">
                  Documents
                </a>
              </div>
              <div id="usr_info_collapse2_6_cus" class="collapse" data-parent="#accordion_usr_info1_cus">
                <div class="card-body">
                  <table class="table table-bordered f14 mar_T20">
                    <tbody>
                      <tr>
                        <td class="header_td">Document</td>
                        <td class="header_td">Comment</td>
                        <td class="header_td">Uploaded</td>
                        <td class="header_td"></td>
                        <td class="header_td"></td>
                      </tr>
                      <tr>
                        <td><input type="text" class="form-control"></td>
                        <td><input type="text" class="form-control"></td>
                        <td></td>
                        <td><a href="#"><i class="far fa-folder-open" style="color: gray;"></i></a></td>
                        <td><a href="#"><i class="fas fa-save" style="color: cadetblue;"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
          </div>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <small class="d-block mr-auto">Last login: <i class="fas fa-mobile-alt"></i>  15/09/18 - 11:37</small>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>
          
    <!-- end of customer specifications-->
    <!---new customer modal-->
    <div class="modal fade" id="new_customer_modal">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">New customer</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body f14">
                  <div class="row">
                    <div class="col-lg-4">
                      <label>Name</label>
                      <div class="input-group">
                        <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <label>Customer catagory</label>
                        <div class="input-group">
                              <select  class="form-control" data-live-search="true" title="custome catagory" id="sel1" name="sellist1">
                               <option>BD</option>
                                <option>PAK</option>
                                <option>Saudi</option>
                                <option>UAE</option>
                              </select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        
                        <div class="input-group" style="margin-top: 10%; margin-left: 100px;">
                           <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#add_cat_modal" data-dismiss="modal"> Add catagory</button>
                        </div>
                    </div>
                  </div>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="button" class="btn footer_save_btn">Save</button>
                </div>
          
              </div>
            </div>
          </div>
          <div class="modal fade" id="add_cat_modal">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Add catagory</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  <input type="text" class="form-control" placeholder="add catagory">
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="button" class="btn footer_save_btn">Save</button>
                </div>
          
              </div>
            </div>
          </div>
    <!---end of new customer modal-->
    
    <!-- Javascript -->
    <script src="assets/bundles/libscripts.bundle.js"></script>    
    <script src="assets/bundles/vendorscripts.bundle.js"></script>
    
    <script src="assets/bundles/datatablescripts.bundle.js"></script>
    <script src="assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js --> 
    
    <script src="assets/bundles/mainscripts.bundle.js"></script>
    <script src="assets/js/pages/tables/jquery-datatable.js"></script>
    <script src="assets/js/pages/ui/dialogs.js"></script>
    
    </template>