<template>
    
  <!-- VENDOR CSS -->
<link rel="stylesheet" href="/src/assets/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/src/assets/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/src/assets/vendor/sweetalert/sweetalert.css"/>
<link rel="stylesheet" href="/src/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">

<style>
#profile_modal .modal-header{
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	padding: 10px 0px 5px 15px;
	
}
 .modal-header{
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	padding: 10px 0px 5px 15px;
	
}
#profile_modal .modal-content{
	border-radius: 15px;
	width: 170%;
	right: 145px;
}
 .modal-content{
	border-radius: 15px;
	width: 170%;
	right: 145px;
}
#profile_modal .modal-footer{
	
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}
.modal-footer{
	
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
}
#profile_modal .modal-footer .btn{	
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 8px 17px;
}
.modal-footer .btn{
	
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 8px 17px;
}
#profile_modal .modal-body .card{
	border-radius: 25px;
}
 .modal-body .card{
	border-radius: 25px;
}
#profile_modal .modal-body .card .card-header{
	border-radius: 25px!important;
	
}
 .modal-body .card .card-header{
	border-radius: 25px!important;
	
}



</style>

<script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>



<!-- Page Loader -->

<!-- Overlay For Sidebars -->

<div id="wrapper">


    <div id="main-content">
        <div class="container">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                        <h2><a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth"><i class="fa fa-arrow-left"></i></a> Employee List</h2>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href=""><i class="icon-home"></i></a></li>                            
                            <li class="breadcrumb-item">Employee</li>
                            <li class="breadcrumb-item active">Employee List</li>
                        </ul>
                    </div>            
                    <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                        <div class="bh_chart hidden-xs">
                            <div class="float-left m-r-15">
                                <small>Visitors</small>
                                <h6 class="mb-0 mt-1"><i class="icon-user"></i> 1,784</h6>
                            </div>
                            <span class="bh_visitors float-right">2,5,1,8,3,6,7,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Visits</small>
                                <h6 class="mb-0 mt-1"><i class="icon-globe"></i> 325</h6>
                            </div>
                            <span class="bh_visits float-right">10,8,9,3,5,8,5</span>
                        </div>
                        <div class="bh_chart hidden-sm">
                            <div class="float-left m-r-15">
                                <small>Chats</small>
                                <h6 class="mb-0 mt-1"><i class="icon-bubbles"></i> 13</h6>
                            </div>
                            <span class="bh_chats float-right">1,8,5,6,2,4,3,2</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>Employee List</h2>
                            <ul class="header-dropdown">
                                <li><a href="javascript:void(0);" class="btn btn-info" data-toggle="modal" data-target="#new_employee_modal">Add New</a></li>
                            </ul>
                        </div>
                        <div class="body">
                            <ul class="nav nav-tabs main2_nav_tabs">
                                <li class="nav-item">
                                  <a class="nav-link active" data-toggle="tab" href="#main2_in1">Active</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" data-toggle="tab" href="#main2_in2">Inactive</a>
                                </li>
                              </ul>
                           <div class="tab-content">
                            <div class="tab-pane active" id="main2_in1">  
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>
                                                <label class="fancy-checkbox">
                                                    <input class="select-all" type="checkbox" name="checkbox">
                                                    <span></span>
                                                </label>
                                            </th>
                                            <th>Name</th>
                                            <th>Employee ID</th>
                                            <th>Phone</th>
                                            <th>Email</th>                                            
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="width45">
                                            <label class="fancy-checkbox">
                                                    <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                    <span></span>
                                                </label>
                                                <img src="/src/assets/images/xs/avatar6.jpg" class="rounded-circle avatar" alt="">
                                            </td>
                                            <td>
                                                <h6 class="mb-0">Darryl Day</h6>
                                                <span>darryl.day@gmail.com</span>
                                            </td>
                                            <td><span>LA-0233</span></td>
                                            <td><span>+ 264-625-2583</span></td>
                                            <td>abc@gmail.com</td>                                         
                                            <td>
                                                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#profile_modal" title="Edit"><i class="fa fa-edit"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="main2_in2">  
                            <div class="table-responsive">
                                <table class="table table-hover js-basic-example dataTable table-custom table-striped m-b-0 c_list">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>
                                                <label class="fancy-checkbox">
                                                    <input class="select-all" type="checkbox" name="checkbox">
                                                    <span></span>
                                                </label>
                                            </th>
                                            <th>Name</th>
                                            <th>Employee ID</th>
                                            <th>Phone</th>
                                            <th>Email</th>                                            
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="width45">
                                            <label class="fancy-checkbox">
                                                    <input class="checkbox-tick" type="checkbox" name="checkbox">
                                                    <span></span>
                                                </label>
                                                <img src="/src/assets/images/xs/avatar6.jpg" class="rounded-circle avatar" alt="">
                                            </td>
                                            <td>
                                                <h6 class="mb-0">Darryl Day</h6>
                                                <span>darryl.day@gmail.com</span>
                                            </td>
                                            <td><span>LA-0233</span></td>
                                            <td><span>+ 264-625-2583</span></td>
                                            <td>maha@gmail.com</td>
                                          
                                            <td>
                                                <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#profile_modal" title="Edit"><i class="fa fa-edit"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" title="Delete" data-type="confirm"><i class="fa fa-trash-o"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
  </div>  
</div>

<!-- Employee specifications-->

 <div class="modal fade" id="profile_modal" >
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3>Profile</h3>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       <div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Generally
      </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
       <div class="row generally_row">
         <div class="col-lg-4">
           <div class="mod_gen_pro_pic_main">
             <div class="pro_pic"><img src="/src/assets/png/user_demo.png"></div>
             <div class="id_num_box">
               <p>test<br><small>ID#:</small></p>

             </div>
           </div>
         </div>
         <div class="col-lg-6">
           <table class="table table-bordered f14">
             <tbody>
               <tr>
                 <td class="header_td">Name</td>
                 <td>test<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
               </tr>
               <tr>
                 <td class="header_td">Identification number</td>
                 <td></td>
               </tr>
               <tr>
                 <td class="header_td">Phone number</td>
                 <td>01234566789<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
               </tr>
               <tr>
                 <td class="header_td">Email address</td>
                 <td>example@email.com<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
               </tr>
               <tr>
                 <td class="header_td">Address</td>
                 <td>Lahore, Pakistan<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
               </tr>
               <tr>
                 <td class="header_td">Date of birth</td>
                 <td>28 November, 2002<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
               </tr>
               <tr>
                 <td class="header_td">Personal</td>
                 <td><a href="#"><i class="far fa-edit edit_icons"></i></a></td>
               </tr>
               <tr>
                 <td class="header_td">Account number</td>
                 <td><a href="#"><i class="far fa-edit edit_icons"></i></a></td>
               </tr>
               <tr>
                 <td class="header_td">Employee</td>
                 <td></td>
               </tr>
               <tr>
                 <td class="header_td">Username</td>
                 <td>root<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
               </tr>
               <tr>
                 <td class="header_td">Password</td>
                 <td>*******<a href="#"><i class="far fa-edit edit_icons"></i></a></td>
               </tr>

             </tbody>
           </table>
         </div>
       </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
       <input type="hidden" name="id"/>
      <a class="collapsed card-link" data-toggle="collapse" href="#usr_info_collapse2">
        Comment
      </a>
    </div>
    <div id="usr_info_collapse2" class="collapse" data-parent="#accordion_usr_info">
      <div class="card-body">
        <div class="form-group">
          <textarea class="form-control" rows="3" id="comment" name="comment"> </textarea>
        </div>
        <button type="button" id="save_comment" class="btn slate_btn" style="margin-left: auto; display: block;">Save</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        HMS
      </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
      <div class="card-body">
        <div class="row hms_row">
          <div class="col-lg-6">
            <div class="mod_hms_table1">
              <table class="table table-bordered f14">
                <tbody>
                  <tr>
                    <td style="border:none;"></td>
                    <td class="header_td">Absence all year</td>
                    <td class="header_td">Absence last 12 months</td>
                  </tr>
                  <tr>
                    <td class="header_td">Number of sick days with self-report</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td class="header_td">Number of sick days for children / childcare providers</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td class="header_td">Number of sick days with sick leave</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td class="header_td">Holiday</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td class="header_td">Leave of absence</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <td class="header_td">Total number</td>
                    <td>0</td>
                    <td>0</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="mod_hms_table2">
              <table class="table table-bordered f14">
                <thead>
                  <tr>
                  <td class="header_td">Next of kin</td>
                </tr>
                </thead>
                <tbody>
                  <tr>
                  <td>
                    <div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr">
</div>
                  </td>
                  <td>
                    <div class="form-group">
  <label for="phone">Phone number:</label>
  <input type="text" class="form-control" id="phone">
</div>
                  </td>
                  <td>
                    <button class="btn" type="button">Save</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <form action="" method='POST' id="payment_form">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#usr_info_collapse4">
        Payment
      </a>
    </div>
    <div id="usr_info_collapse4" class="collapse" data-parent="#accordion_usr_info">
      <div class="card-body">
        <table class="table table-bordered f14">
          <tbody>
            <tr>
              <td colspan="4" class="header_td">Timesatser
                <button type="button" class="print_btn"><i class="fas fa-print"></i></button>
                <button type="button" class="print_btn"><i class="fas fa-edit"></i></button>
              </td>
            </tr>
            <tr>
              <td>Timesats 1</td>
              <td><input type="text" class="form-control txt_right" id="hour_rate_1" ></td>
              <td>Timesats 2</td>
              <td><input type="text" class="form-control txt_right" id="hour_rate_2" ></td>
            </tr>
            <tr>
              <td>Timesats 3</td>
              <td><input type="text" class="form-control txt_right" id="hour_rate_3" ></td>
              <td>Timesats 4</td>
              <td><input type="text" class="form-control txt_right" id="hour_rate_4" ></td>
              
            </tr>
            <tr>
              <td>Timesats 5</td>
              <td><input type="text" class="form-control txt_right" id="hour_rate_5" ></td>
              <td>Weights agreement</td>
              <td><input type="text" class="form-control txt_right" id="weigh_agreement" ></td>
            </tr>
            <tr>
              <td class="header_td" colspan="4">Additional</td>
            </tr>
            <tr>
              <td>Alone additional</td>
              <td><input type="text" class="form-control txt_right" id="alone_additional" ></td>
              <td>Guard leader additional</td>
              <td><input type="text" class="form-control txt_right" id="guard_leader_additional" ></td>
            </tr>
            <tr>
              <td>Dirt addition(per event)</td>
              <td><input type="text" class="form-control txt_right" id="dress_additional" ></td>
              <td>Night suppliment(21-06)</td>
              <td><input type="text" class="form-control txt_right" id="night_supplement"></td>
            </tr>
            <tr>
              <td>Heldge additional</td>
              <td><input type="text" class="form-control txt_right" id="helge_additional"></td>
              <td>Helligdagstillegg</td>
              <td>
                <div class="input-group">
                  <input type="text" class="form-control txt_right" id="helligdagstillegg" >
                  <div class="input-group-append marginless_app">
                    <span class="input-group-text">%</span>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="header_td" colspan="4">Monthly rates</td>
            </tr>
            <tr>
              <td>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
                <span class="f13">Fixed salary</span>
              </td>
              <td><input type="text" class="form-control txt_right" id="fixed_salary_rate" ></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
                <span class="f13">Instructor</span>
              </td>
              <td><input type="text" class="form-control txt_right" id="instructor_rate" ></td>
              <td>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
                <span class="f13">Guard leader</span>
              </td>
              <td><input type="text" class="form-control txt_right" id="guard_leader_rate" ></td>
            </tr>
            <tr>
              <td>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
                <span class="f13">Area manager</span>
              </td>
              <td><input type="text" class="form-control txt_right" id="area_manager_rate" ></td>
              <td>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
                <span class="f13">Object leader</span>
              </td>
              <td><input type="text" class="form-control txt_right" id="object_manager_rate" ></td>
            </tr>
            <tr>
              <td colspan="4" class="td_center">
                <button type="button" id="save" class="btn slate_btn">Save</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </form>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#usr_info_collapse5">
        Delivered equipment
      </a>
    </div>
    <div id="usr_info_collapse5" class="collapse" data-parent="#accordion_usr_info">
      <div class="card-body">
        <table class="table table-bordered f14">
          <tbody>
            <tr>
              <td class="header_td">Equipment</td>
              <td class="header_td">Number</td>
              <td class="header_td">Issued</td>
              <td class="header_td td_center">
                <button type="button" class="print_btn"><i class="fas fa-print"></i></button>
              </td>
            </tr>
            <tr>
              <td>
                <select class="selectpicker" data-live-search="true" title="Equipment" id="sel1" name="sellist1">
                     <option>BD</option>
                      <option>PAK</option>
                      <option>Saudi</option>
                      <option>UAE</option>
                    </select>
              </td>
              <td class="nn">
                <select class="selectpicker" title="Number" id="sel1" name="sellist1">
                     <option>BD</option>
                      <option>PAK</option>
                      <option>Saudi</option>
                      <option>UAE</option>
                    </select>
              </td>
              <td>
                <input id="datetimepicker_admin_32" class="datetimepicker" type="text" >
              </td>
              <td><button type="button" class="btn slate_btn"><i class="fas fa-share"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

<div class="card">
  <div class="card-header">
    <a class="collapsed card-link" data-toggle="collapse" href="#usr_info_collapse6">
      Course/Documents
    </a>
  </div>
  <div id="usr_info_collapse6" class="collapse" data-parent="#accordion_usr_info">
    <div class="card-body">
      <table class="table table-bordered f14">
        <tbody>
          <tr>
            <td class="header_td">Course</td>
            <td class="header_td">Trainer</td>
            <td class="header_td">Given</td>
            <td class="header_td"></td>
            <td class="header_td"></td>
          </tr>
          <tr>
            <td>National basic education</td>
            <td><input type="text" class="form-control" ></td>
            <td>
              <input id="datetimepicker_admin_33" class="datetimepicker" type="text" >
            </td>
            <td><a href="#"><i class="far fa-folder-open" style="color: gray;"></i></a></td>
            <td><a href="#"><i class="fas fa-save" style="color: cadetblue;"></i></a></td>
          </tr>
          <tr>
            <td>Weight training course 1</td>
            <td><input type="text" class="form-control" ></td>
            <td>
              <input id="datetimepicker_admin_34" class="datetimepicker" type="text" >
            </td>
            <td><a href="#"><i class="far fa-folder-open" style="color: gray;"></i></a></td>
            <td><a href="#"><i class="fas fa-save" style="color: cadetblue;"></i></a></td>
          </tr>
          <tr>
            <td>Weight training course 2</td>
            <td><input type="text" class="form-control" ></td>
            <td>
              <input id="datetimepicker_admin_35" class="datetimepicker" type="text" >
            </td>
            <td><a href="#"><i class="far fa-folder-open" style="color: gray;"></i></a></td>
            <td><a href="#"><i class="fas fa-save" style="color: cadetblue;"></i></a></td>
          </tr>
          <tr>
            <td>Weight training course 3</td>
            <td><input type="text" class="form-control"></td>
            <td>
              <input id="datetimepicker_admin_36" class="datetimepicker" type="text" >
            </td>
            <td><a href="#"><i class="far fa-folder-open" style="color: gray;"></i></a></td>
            <td><a href="#"><i class="fas fa-save" style="color: cadetblue;"></i></a></td>
          </tr>
          <tr>
            <td>Orden Guard Training</td>
            <td><input type="text" class="form-control" ></td>
            <td>
              <input id="datetimepicker_admin_37" class="datetimepicker" type="text" >
            </td>
            <td><a href="#"><i class="far fa-folder-open" style="color: gray;"></i></a></td>
            <td><a href="#"><i class="fas fa-save" style="color: cadetblue;"></i></a></td>
          </tr>
          <tr>
            <td class="header_td" colspan="3"></td>
            <td class="header_td"><button type="button" class="print_btn"><i class="fas fa-print"></i></button></td>
            <td class="header_td"></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered f14 mar_T20">
        <tbody>
          <tr>
            <td class="header_td">Document</td>
            <td class="header_td">Comment</td>
            <td class="header_td">Uploaded</td>
            <td class="header_td"></td>
            <td class="header_td"></td>
          </tr>
          <tr>
            <td><input type="text" class="form-control" ></td>
            <td><input type="text" class="form-control" ></td>
            <td></td>
            <td><a href="#"><i class="far fa-folder-open" style="color: gray;"></i></a></td>
            <td><a href="#"><i class="fas fa-save" style="color: cadetblue;"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>
</div>
</div>
</div>
</div>
<!-- end of Employee specifications-->
<!---new employee modal-->
<div class="modal fade" id="new_employee_modal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">New Employee</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <form action="" method='POST'>       
        <div class="modal-body f14">
          <div class="row new_employee_modal_row">
            <div class="col-lg-4">
              <label for="employee_name">Name</label>
              <div class="input-group">
                <input type="text" class="form-control" id="employee_name" name="employee_name">
              </div>
            </div>
            <div class="col-lg-4">
              <label for="employee_username">User name</label>
              <div class="input-group">
                <input type="text" class="form-control" id="employee_username" name="employee_username">
              </div>
            </div>
            <div class="col-lg-4">
              <label for="employee_mbl_num">Mobile number</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <select class="selectpicker" data-live-search="true" id="sel1" name="sellist1">
                    <option data-icon="flag-icon flag-icon-bd" value="flag-icon flag-icon-bd" ></option>
                    <option data-icon="flag-icon flag-icon-pk" value="flag-icon flag-icon-pk"></option>
                    <option data-icon="flag-icon flag-icon-sa" value="flag-icon flag-icon-sa"></option>
                    <option data-icon="flag-icon flag-icon-gr" value="flag-icon flag-icon-gr"></option>
                  </select>
                </div>
                <input type="text" id="employee_mbl_num" name="employee_mbl_num" class="form-control">
              </div>
            </div>
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          <button type="submit" class="btn footer_save_btn">Save</button>
        </div>
        <form>
      </div>
    </div>
  </div>
<!---end of new employee modal-->

<!-- Javascript -->
<!-- <script src="/src/assets/bundles/libscripts.bundle.js"></script>    
<script src="/src/assets/bundles/vendorscripts.bundle.js"></script>

<script src="/src/assets/bundles/datatablescripts.bundle.js"></script>
<script src="/src/assets/vendor/sweetalert/sweetalert.min.js"></script> 

<script src="/src/assets/bundles/mainscripts.bundle.js"></script>
<script src="/src/assets/js/pages/tables/jquery-datatable.js"></script>
<script src="/src/assets/js/pages/ui/dialogs.js"></script> -->

</template>