<template>
    
    <link rel="icon" href="/src/assets/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <body class="theme-orange">       
        <div id="wrapper">
            <div class="vertical-align-wrap">
                <div class="vertical-align-middle auth-main">
                    <div class="auth-box">
                        <div class="top">
                            <img src="" alt="Lucid">
                        </div>
                        <div class="card">
                            <div class="header">
                                <p class="lead">Login to your account</p>
                            </div>
                            <div class="body">
                                <form class="form-auth-small" submit.delegate="login()" >
                                    <div class="form-group" validation-errors="errors.bind:EmailErrors">
                                        <label for="signin-email" class="control-label sr-only">Email</label>
                                        <input type="email" class="form-control" name="emal" value.bind="email & validate" id="signin-email" placeholder="Email">
                                        <ul>
                                            <li class="help-block text-danger" id="invalid-email"
                                                repeat.for="emailError of EmailErrors">
                                              ${emailError.error.message}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form-group" validation-errors="errors.bind:PasswordErrors">
                                        <label for="signin-password" class="control-label sr-only">Password</label>
                                        <input type="password" class="form-control" name="password" value.bind="password & validate" id="signin-password" placeholder="Password">
                                        <ul>
                                            <li class="help-block text-danger" id="invalid-password" repeat.for="passwordError of PasswordErrors">
                                                ${passwordError.error.message}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label class="fancy-checkbox element-left">
                                            <input type="checkbox">
                                            <span>Remember me</span>
                                        </label>								
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                    <div class="bottom">
                                        <span class="helper-text m-b-10"><i class="fa fa-lock"></i> <a href="page-forgot-password.html">Forgot password?</a></span>
                                        <span>Don't have an account? <a href="page-register.html">Register</a></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </body>
    <script src="assets/bundles/libscripts.bundle.js"></script>    
<script src="assets/bundles/vendorscripts.bundle.js"></script>

<script src="assets/bundles/datatablescripts.bundle.js"></script>
<script src="assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js --> 

<script src="assets/bundles/mainscripts.bundle.js"></script>
<script src="assets/js/pages/tables/jquery-datatable.js"></script>
<script src="assets/js/pages/ui/dialogs.js"></script>
    
</template>