<template>     
        <body class="theme-orange">
            <!-- WRAPPER -->
            <div id="wrapper">
                <div class="vertical-align-wrap">
                    <div class="vertical-align-middle auth-main">
                        <div class="auth-box">
                            <div class="top">
                                <img src="" >
                            </div>
                            <div class="card">
                                <div class="header">
                                    <p class="lead">Create an account</p>
                                </div>
                                <div class="body">
                                    <form class="form-auth-small" submit.delegate="register()">
                                        <div class="form-group" validation-errors="errors.bind:NameErrors">
                                                <label for="signup-name" class="control-label sr-only">Name</label>
                                                <input type="text" class="form-control" name="name" value.bind="name & validate" id="signup-name" placeholder="Name">
                                                <ul>
                                                    <li class="help-block text-danger" id="invalid-name" repeat.for="nameError of NameErrors">
                                                        ${nameError.error.message}
                                                    </li>
                                                </ul>
                                        </div>
                                        <div class="form-group" validation-errors="errors.bind:EmailErrors">
                                            <label for="signup-email" class="control-label sr-only">Email</label>
                                            <input type="email" class="form-control" name="emal" value.bind="email & validate" id="signup-email" placeholder="Email">
                                            <ul>
                                                <li class="help-block text-danger" id="invalid-email"
                                                    repeat.for="emailError of EmailErrors">
                                                  ${emailError.error.message}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="form-group" validation-errors="errors.bind:PasswordErrors">
                                            <label for="signup-password" class="control-label sr-only">Password</label>
                                            <input type="password" class="form-control" name="password" value.bind="password & validate" id="signup-password" placeholder="Password">
                                            <ul>
                                                <li class="help-block text-danger" id="invalid-password" repeat.for="passwordError of PasswordErrors">
                                                    ${passwordError.error.message}
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="form-group" validation-errors="errors.bind:ConfirmPasswordErrors">
                                            <label for="signup-confirm-password" class="control-label sr-only">Confirm Password</label>
                                            <input type="password" class="form-control" name="confirm_password" value.bind="confirm_password & validate" id="signup-confirm-password" placeholder="Confirm Password">
                                            <ul>
                                                <li class="help-block text-danger" id="invalid-confirm-password" repeat.for="passwordError of ConfirmPasswordErrors">
                                                    ${passwordError.error.message}
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">REGISTER</button>
                                        <div class="bottom">
                                            <span class="helper-text">Already have an account? <a href="page-login.html">Login</a></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END WRAPPER -->
        </body>
        
        
        <script src="assets/bundles/libscripts.bundle.js"></script>    
<script src="assets/bundles/vendorscripts.bundle.js"></script>

<script src="assets/bundles/datatablescripts.bundle.js"></script>
<script src="assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js --> 

<script src="assets/bundles/mainscripts.bundle.js"></script>
<script src="assets/js/pages/tables/jquery-datatable.js"></script>
<script src="assets/js/pages/ui/dialogs.js"></script>
</template>