<template>
        <div class="main_menu">
                <nav class="navbar navbar-expand-lg">
                    <div class="container">
                        <div class="navbar-collapse align-items-center collapse" id="navbar">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown mega-menu active">
                                    <a href="index.html" class="nav-link dropdown-toggle"><i class="icon-speedometer"></i> <span> Dashboard</span></a>
                                </li>
                                <li class="nav-item dropdown mega-menu active">
                                    <a href="" class="nav-link dropdown-toggle"><i class="icon-speedometer"></i> <span> Start</span></a>
                                </li>
                                <li class="nav-item dropdown mega-menu">
                                    <a href="" click.delegate="employee()" class="nav-link dropdown-toggle"><i class="icon-users"></i> <span> Employees</span></a>
                                    
                                </li>
                                <li class="nav-item dropdown mega-menu">
                                    <a href="" click.delegate="customer()" class="nav-link dropdown-toggle"><i class="icon-users"></i> <span>Customers</span></a>
                                 </li>
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-docs"></i> <span>Reports</span></a>
                                    <ul class="dropdown-menu animated bounceIn">                                    
                                        <li><a href="page-login.html">Login</a></li>
                                        <li><a href="page-register.html">Register</a></li>
                                        <li><a href="page-lockscreen.html">Lockscreen</a></li>
                                        <li><a href="page-forgot-password.html">Forgot Password</a></li>
                                        <li><a href="page-404.html">Page 404</a></li>
                                        <li><a href="page-403.html">Page 403</a></li>
                                        <li><a href="page-500.html">Page 500</a></li>
                                        <li><a href="page-503.html">Page 503</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="" class="nav-link dropdown-toggle"><i class="icon-lock"></i> <span>Security List</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="" class="nav-link dropdown-toggle"><i class="icon-pencil"></i> <span>Time List</span></a>
                                    
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-users"></i> <span>HMS</span></a>
                                    <ul class="dropdown-menu animated bounceIn right-side">
                                        <li><a href="forms-validation.html">Reported</a></li>
                                        <li><a href="forms-advanced.html">Report</a></li>
                                        <li><a href="forms-basic.html">Documents</a></li>
                                        <li><a href="forms-wizard.html">ROS Analysis</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-calculator"></i> <span>Economy</span></a>
                                    <ul class="dropdown-menu animated bounceIn right-side">
                                        <li><a href="forms-validation.html">Payment</a></li>
                                        <li><a href="forms-advanced.html">Invoice</a></li>
                                        <li><a href="forms-basic.html">Project Accounting</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a href="javascript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-grid"></i> <span>Others</span></a>
                                    <ul class="dropdown-menu animated bounceIn right-side">
                                        <li><a href="forms-validation.html">Assignments</a></li>
                                        <li><a href="forms-advanced.html">Rental</a></li>
                                        <li><a href="forms-basic.html">Arrangement</a></li>
                                    </ul>
                                </li>
                              </ul>
                        </div>
        
                    </div>
                </nav>
        </div>
<script src="assets/bundles/libscripts.bundle.js"></script>    
<script src="assets/bundles/vendorscripts.bundle.js"></script>

<script src="assets/bundles/datatablescripts.bundle.js"></script>
<script src="assets/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js --> 

<script src="assets/bundles/mainscripts.bundle.js"></script>
<script src="assets/js/pages/tables/jquery-datatable.js"></script>
<script src="assets/js/pages/ui/dialogs.js"></script>
</template>