<template>
  <require from="pages/components/admin/nav-bar"></require>
  <require from="pages/components/admin/main-menu"></require>
  <nav-bar></nav-bar>  
  <main-menu></main-menu>
  <div class="w-100">
    <router-view ></router-view>
  </div>
</template>